<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.sdu.ise.labs.dao.KeyMaxValueMapper">
  <resultMap id="BaseResultMap" type="cn.edu.sdu.ise.labs.model.KeyMaxValue">
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="tenant_code" property="tenantCode" jdbcType="VARCHAR"/>
    <result column="key_prefix" property="keyPrefix" jdbcType="CHAR"/>
    <result column="date_part" property="datePart" jdbcType="CHAR"/>
    <result column="current_value" property="currentValue" jdbcType="INTEGER"/>
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
  </resultMap>
  <sql id="Base_Column_List">
    id, tenant_code, key_prefix, date_part, current_value, updated_at
  </sql>

  <!-- 根据前缀查询当前值 -->
  <select id="getKeyValue" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from key_max_value
    where key_prefix = #{keyPrefix} and date_part=#{datePart} and tenant_code = #{tenantCode}
  </select>

  <insert id="insertAndUpdate" parameterType="cn.edu.sdu.ise.labs.model.KeyMaxValue">
    insert into key_max_value(tenant_code, key_prefix, date_part, current_value)
    values(#{tenantCode},#{keyPrefix},#{datePart}, #{currentValue})
    on duplicate key update current_value = current_value + 1
  </insert>
</mapper>